apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: api-pdb
  namespace: katmanlimimari
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: katmanlimimari-api
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: postgres-pdb
  namespace: katmanlimimari
spec:
  maxUnavailable: 0
  selector:
    matchLabels:
      app: postgres
