apiVersion: v1
kind: ResourceQuota
metadata:
  name: compute-resources
  namespace: katmanlimimari
spec:
  hard:
    requests.cpu: "4"
    requests.memory: 8Gi
    limits.cpu: "8"
    limits.memory: 16Gi
    persistentvolumeclaims: "5"
---
apiVersion: v1
kind: ResourceQuota
metadata:
  name: object-counts
  namespace: katmanlimimari
spec:
  hard:
    pods: "20"
    services: "10"
    configmaps: "10"
    secrets: "10"
---
apiVersion: v1
kind: LimitRange
metadata:
  name: resource-limits
  namespace: katmanlimimari
spec:
  limits:
  - max:
      cpu: "2"
      memory: 2Gi
    min:
      cpu: 100m
      memory: 128Mi
    default:
      cpu: 500m
      memory: 512Mi
    defaultRequest:
      cpu: 250m
      memory: 256Mi
    type: Container
  - max:
      storage: 20Gi
    min:
      storage: 1Gi
    type: PersistentVolumeClaim
