name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '9.0.x'

    - name: Restore dependencies
      run: dotnet restore "KatmanlıMimari.sln"

    - name: Build
      run: dotnet build "KatmanlıMimari.sln" --configuration Release --no-restore

    - name: Run Unit Tests
      run: dotnet test ./UnitTest/UnitTest.csproj --configuration Release --no-build --verbosity normal

    - name: Run Integration Tests
      run: dotnet test ./IntegrationTest/IntegrationTest.csproj --configuration Release --no-build --verbosity normal

    - name: Publish
      run: dotnet publish ./AppApis/AppApi.csproj -c Release -o ./publish /p:UseAppHost=false

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: webapp
        path: ./publish
